
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: radial-gradient(circle, #fff 5%, #dcedc8 80%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 600px;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.8s ease-out;
  margin: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.matrix {
  margin-bottom: 30px;
}

.matrix h3 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
  font-size: 1.5rem;
}

.matrix-input {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.matrix-input input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.matrix-input input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  padding: 15px 25px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #388e3c;
}

#result {
  width: calc(100% - 40px);
  height: 150px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 1.2rem;
  background-color: #fff;
  color: #333;
}
